[2016-08-02 14:40] zetaben opened #3 "Cannot pip install on Gentoo (x86_64)"
Hello guys,

When I tried installing on my Gentoo (which has both py2 & py3) the pip install fails when fetching v8
[code]

Here is my [pip.log.txt](https://github.com/sqreen/PyMiniRacer/files/397223/pip.log.txt)
and pip/python/uname versions
[code]

[2016-08-02 15:58] aviat commented on #3
Thanks @zetaben we will take a look.

[2016-08-02 21:28] ianjosephwilson commented on #3
I successfully installed it into a virtualenv on gentoo x86_64 with:
[code]

That syntax error looks like a standard python3 syntax error for using print as a statement instead of a function.  Maybe try specifying the python binary to use in a virtualenv and see if that works.

Also your pip looks pretty old, maybe try upgrading it?
[code]

[2016-08-03 08:05] Lothiraldan commented on #3
@zetaben Thank you for the report, several things here:
- Your pip version is old, it will not be able to use the precompiled wheel, could you try upgrading it?
- As you cannot use the wheel, your pip is trying to fetch V8, compile V8 and compile py_mini_racer with your default python which is python3. Unfortunately the google helper we use is not compatible with python3, we will try to fix it in

[2016-10-04 14:39] Lothiraldan opened #12 "Move to new V8 building system"
https://github.com/v8/v8/wiki/Building%20with%20GN

[2016-10-10 20:17] 77cc33 opened #14 "Performance question"
Hello,

We are using V8 to convert saved JS generated objects (dictionaries) with sensitive data to python objects, as it much faster than other ways we tried. Our dictionaries usually have at least 2000-3000 elements.

We tried different libraries to take benchmarks what are all based on different V8 versions. Your library is very easy to install and use, but it's 10 times slower than PyV8 in our

[2016-10-11 11:41] zetaben commented on #3
I only needed to update my pip in the end ! Thanks guys.

[2016-10-11 11:41] #3 closed

[2016-10-11 13:16] aviat commented on #14
HI,

Thanks for your feedback.

Our use case is quite different from yours, and we focused on optimizing performance in this goal (as you can see with the recent pull request #10).

Our use case is the following:
 - at startup, we initialize a context with JS code once (and then we keep it around for a very long time);
 - very often, we call the code of this context a lot - that’s the part we need

[2016-10-18 08:08] Lothiraldan commented on #12
See also https://github.com/cowboyd/libv8/issues/228

[2016-10-27 15:57] wangtubs opened #15 "unable to install"
Python version: 2.7
pip version 8.1.2
I try to install pyminiRacer through pip install py-mini-racer
I get error like this

I don't know if you need addtional dependence for this package.

[2016-10-27 16:00] wangtubs commented on #15
on ubuntu 14 I get error also:
    Exception: py_mini_racer failed to build, ensure you have an up-to-date pip (>= 8.1) to use the wheel instead
                To update pip: 'pip install -U pip'
                See also: https://github.com/sqreen/PyMiniRacer#binary-builds-availability

                Original error: WindowsError(2, '')

    ----------------------------------------
Command "c:\p

[2016-10-27 16:42] aviat commented on #15
Hi @wangtubs, the error you pasted seems to be on Windows. PyMiniRacer is not tested under Windows.
Yet, Ubuntu should work fine. Could you try to upgrade your pip version:
`pip install -U pip`
and then try to install PyMiniRacer again?

[2016-10-27 16:54] wangtubs commented on #15
ubuntu also doesn't work for me . pip is 1.5.1 version.

[2016-10-28 11:26] aviat commented on #15
@wangtubs could you please give me the output of these commands?
[code]

[2016-10-28 11:33] wangtubs commented on #15
root@hi:~# pip install -U pip
/usr/local/lib/python2.7/dist-packages/pip/_vendor/requests/packages/urllib3/util/ssl_.py:318: SNIMissingWarning: An HTTPS request has been made, but the SNI (Subject Name Indication) extension to TLS is not available on this platform. This may cause the server to present an incorrect TLS certificate, which can cause validation failures. You can upgrade to a newer ver

[2016-10-28 11:45] aviat commented on #15
@wangtubs awesome, now you have the correct pip version. You can now just try:

[code]

[2016-10-28 12:17] wangtubs commented on #15
thanks. it works now.
I have another questions now. I want to use your package to run js . but the js needs to do something with dom.  is there any way to use your package to run js without exception?
for now there is error when i run the js script:
  File "/usr/local/lib/python2.7/dist-packages/py_mini_racer/py_mini_racer.py", line 120, in eval
    python_value = res.contents.to_python()
  File "

[2016-10-28 12:20] wangtubs commented on #15
the js script now is actually a encrypt script, i want to use your package to descrypt the script and get the data after running the js. actually I don't need it to handle the DOM.

[2016-10-28 12:37] aviat commented on #15
So we are good @wangtubs ?

[2016-10-28 12:49] wangtubs commented on #15
@aviat you have not answered my new question.  so your package can't do with DOM?

[2016-10-28 16:24] aviat commented on #15
You need a browser to do DOM. We only provide a bare metal JavaScript environment.

[2016-10-28 16:24] #15 closed

[2016-10-28 18:57] wangtubs commented on #15
Hi, I actually don't want to handle the DOM. I want to use your package to decrypt a js script. the js script is very complicate.  What I mean is to run the js script with your package, and I want get the data after running. but currently your package will go error because the script try to handle DOM. is there any way to stop the script and output the result before it handles DOM?

[2016-10-28 19:20] aviat commented on #15
Yes, you need to modify your script.

[2016-10-28 19:29] wangtubs commented on #15
[code]
hi, there is my script, but now it give error when it try to handle DOM
can you help me to modify the script?
I tried many methods, always not successful.
thanks very much

[2016-11-28 17:38] Lothiraldan opened #16 "Add a way to be more memory efficient"
The recommend way to use pyminiracer is:

[code]

If we want to have several isolated contexts, the best way seems to create several contexts but it seems to dlopen the library each time a new context is created. Could pyminiracer dlopen the library only once in order to be more memory efficient while keeping the context isolated?

[2016-11-28 17:51] #16 closed

[2017-01-18 08:10] uranusjr opened #17 "Passing non-primitive objects"
In V8 you can pass a C++ function into the JavaScript context, to use as a callback etc. It would be very useful if this can be exposed to MiniRacer. The current implementation of `call` relies on `json.dumps`, so a more sophisticated bridging method would be required.

[2017-01-18 08:14] uranusjr commented on #14
Just throwing out wild ideas here, but maybe ctypes is causing a lot of the difference here? It is known to be very slow compared to a C extension like PyV8. Maybe [cffi](http://cffi.readthedocs.io/en/latest/) would close some gap.

[2017-01-19 10:41] aviat commented on #17
Hi @uranusjr, that's a good idea. Would like to propose such an implementation?

[2017-01-19 10:54] aviat commented on #14
Hi @uranusjr, yes cffi could be a good choice. We didn't used it at the time, the manylinux wheels were not available at the time - and setup ease is a key requirement for PyMiniRacer.
Would be interested in discussing this further?

[2017-01-21 08:52] uranusjr commented on #17
Sure, I am not familiar with V8’s API, but Qt exposes something similar in [QJSEngine](http://doc.qt.io/qt-5/qjsengine.html), which is (IIRC) also based on V8, to work with arbitrary Qt objects. I’ll take a look at their implementation.

[2017-03-29 13:59] #14 closed

[2017-03-29 13:59] #17 closed

[2017-04-01 21:58] ignisf opened #24 "Changes in libv8's builder.rb file since Oct 2016"
Hi,

Just a heads up -- I've updated a few things since you last touched your `v8_build.py`. Check out https://github.com/cowboyd/libv8/compare/d64aebf6c53b7402241b1c769299902ebe1a7bd3...master#diff-aec54aa0f7e48aa0b8c39b9d58825419 (important changes are in `builder.rb` and an additional patch to prevent debugging being included in macOS binaries)

[2017-04-21 08:16] maurocchi opened #25 "Is it possible to invoke provided Python functions in the JS script?"

[2017-04-21 12:51] aviat commented on #25
Hi @maurocchi, this feature is not implemented in PyMiniRacer yet. Would you be interested in contributing?

[2017-04-24 10:54] maurocchi commented on #25
Hi Jean-Baptiste, currently I'm still in explorative mode, however thanks for the opportunity.

[2017-05-05 23:53] ljgww opened #26 "py_mini_racer module not loading on Ubuntu 14"
### Steps to reproduce
	:~/dev/py-code/pyJS$ sudo -H pip install py_mini_racer
	Collecting py_mini_racer
	  Using cached py_mini_racer-0.1.10-cp27-cp27m-manylinux1_x86_64.whl
	Requirement already satisfied: enum34 in /usr/local/lib/python2.7/site-packages (from py_mini_racer)
	Installing collected packages: py-mini-racer
	Successfully installed py-mini-racer-0.1.10

	:~/dev/py-code/pyJS$ python
	P

[2017-05-07 17:44] Lothiraldan commented on #26
Hi @ljgww, could you paste the output of `python -c "import sys; print(sys.path)"` to check that your python is looking at the right places?

[2017-05-21 17:17] btashton commented on #25
I'm starting to dig into how this might be implemented.

[2017-06-23 22:48] aviat commented on #26
No answer, closing.

[2017-06-23 22:48] #26 closed

[2017-06-25 00:12] bowbahdoe opened #29 "pip install fails on Windows"
### Steps to reproduce
pip install py_mini_racer
### Expected behavior
I expect the install to work without crashing
### Actual behavior
The setup fails on install with the following stacktrace

[code]

### System configuration
**PyMiniRacer version**: 0.1.10
**pip version**: 9.0.1

**Python version**: Anaconda 3.6

[2017-07-24 13:34] aviat commented on #29
@bowbahdoe would you be interested in proposing an AppVeyor build for PyMiniRacer? I would be happy to integrate this.

[2017-07-30 16:32] kokhoor commented on #29
Is it possible to install PyMiniRacer in Windows?

[2017-07-30 17:04] bowbahdoe commented on #29
As far as I can tell it's just a build issue, not any apparent incompatibility. I'm working on a fix as @aviat suggested, but Im figuring it out as I go, so it might be awhile before a pull

[2017-07-31 06:11] aviat commented on #29
I'll be happy to help, would you have any question.

[2017-08-05 15:44] ljgww commented on #26
sorry for taking time to come back. Will try the library with some more recent installation of python.

Sys.path

$ python -c "import sys; print(sys.path)"
['', '/usr/lib/python2.7', '/usr/lib/python2.7/plat-x86_64-linux-gnu', '/usr/lib/python2.7/lib-tk', '/usr/lib/python2.7/lib-old', '/usr/lib/python2.7/lib-dynload', '/home/lj/.local/lib/python2.7/site-packages', '/usr/local/lib/python2.7/dist-pa

[2017-08-05 16:00] ljgww commented on #26
$ /usr/local/bin/python2.7
    Python 2.7.13 (default, Jul 30 2017, 14:01:53)
    [GCC 4.8.4] on linux2
    Type "help", "copyright", "credits" or "license" for more information.

As I suspected, everything works well with some recent installation

[2017-09-16 12:47] kokhoor commented on #29
Is there any simpler workaround at the moment, for example instructions to get it work with a v8 dll

[2017-12-25 18:49] yuzeh opened #40 "(v8 issue?) segfault when assigning 'this' in constructor"
[code]

### System configuration
**PyMiniRacer version**: 0.1.12 (Mac OS 10.12.6)

**Python version**: 2.7.14

[2017-12-27 16:10] jwhendy opened #41 "Possible to load an external library?"
Hello,

My apologies if this is not the right place; I didn't see a mailing list and the main hit I get is the [intro blog post](https://blog.sqreen.io/embedding-javascript-into-python/) which didn't seem the best, either.

To try and keep it brief, there's [a desire](https://community.plot.ly/t/use-plotly-offline-to-save-chart-as-image-file/408) to export image files from `plotly` without having

[2017-12-27 16:58] jwhendy commented on #41
In some digging, I just found the `R` package for V8, including [a reference](https://cran.r-project.org/web/packages/V8/vignettes/v8_intro.html) to `ct$source()` which will load an external library. I looked up [that function](https://github.com/jeroen/V8/blob/master/R/V8.R#L142), and to my surprise they're just reading the file and doing `eval()` on the contents!

I could reproduce their `crossf

[2017-12-27 16:58] #41 closed

[2017-12-27 23:35] aviat commented on #41
Glad to know it worked, thanks for the heads up @jwhendy.

[2017-12-27 23:42] aviat commented on #25
Hey @btashton, any news on this?

[2017-12-27 23:44] aviat commented on #29
We don’t have this at the moment, I’ll be happy to welcome any pull request on this!

[2017-12-27 23:44] #29 closed

[2018-02-04 19:22] #40 closed

[2018-02-04 19:23] yuzeh commented on #40
The bug is obvious... it was trying to stringify an object with circular references.

[2018-02-27 10:09] ThomasHickman opened #42 "Invalid code throws "Unknown JavaScript error during parse" instead of a SyntaxError"
With the script:
[code]
The exception:
[code]

This should give an SyntaxError, as shown in `node.js`:
[code]

### System configuration
**PyMiniRacer version**: 0.1.12

**Python version**: 3.6.4

[2018-03-13 21:49] aviat commented on #42
Hey @ThomasHickman thanks a lot for your report.

This is completely valid!

Feel free to open a Pull Request to help us with this (the skiped Python unit test could be a first step!).
Else this may be scheduled in a later release.

[2018-03-13 21:50] aviat commented on #25
@maurocchi closing since no news from you. Let me know if you need any pointer on this!

[2018-03-13 21:50] #25 closed

[2018-03-13 21:51] aviat commented on #24
Thanks a lot @ignisf we have quite changed the way we build PyMiniRacer.

[2018-03-13 21:51] #24 closed

[2018-03-13 21:51] aviat commented on #12
We are moving away from building V8 inside PyMiniRacer, thanks @Lothiraldan

[2018-03-13 21:51] #12 closed

[2018-04-30 14:08] doom-fr opened #50 "ImportError: No module named 'pip.req'"
### Steps to reproduce
pip install py-mini-racer

### Expected behavior
install !

### Actual behavior
setup.py", line 12, in <module>
        from pip.req import parse_requirements
    ImportError: No module named 'pip.req'

### System configuration
**Python version**:
python 3.5
pip 10.0.1

### solution
Seems to be an incompatibility with new version of pip (>=10)
https://stackoverflow.com/a/498

[2018-05-07 22:30] aviat commented on #50
Thanks, this was fixed in https://github.com/sqreen/PyMiniRacer/pull/49. Will be released soon.

[2018-05-08 14:47] bootcher007 commented on #50
Hi, I have same problem will it be fixed soon? Is there any work around?

[2018-05-08 16:10] doom-fr commented on #50
Workaround : install previous version of pip.
Think this would work.

pip install pip==9.0.3

Le mar. 8 mai 2018 à 16:47, bootcher007 <notifications@github.com> a écrit :

[2018-05-30 14:41] alexeygrigorev opened #53 "Invoking a function"
### Steps to reproduce

Suppose I have the following code:

[code]

Now `check` contains two java script functions:

[code]

How do I invoke them from python/PyMiniRacer? `ctx.execute(check['create'])` and `ctx.call(check['create']` don't seem to work

### System configuration
**PyMiniRacer version**:

Latest from pip as of 30.05.2018: `py-mini-racer==0.1.14`

**Python version**:
[code]

[2018-06-01 12:09] alexeygrigorev commented on #53
As a workaround, I currently do the following:

[code]

Not ideal, but somehow works

[2018-06-07 10:38] alexeygrigorev opened #54 "Console.log"
### Steps to reproduce

[code]

### Expected behavior
It should print "Hello world"

### Actual behavior

[code]

### System configuration
**PyMiniRacer version**: latest from pip

**Python version**: 3.6

[2018-06-14 00:02] Congee commented on #29
`fetch v8` fails on my Linux box, too.
What is `fetch`? Are you using FreeBSD?

[2018-07-05 04:59] chlarsen opened #57 "pip installation of py-mini-racer fails"
Greetings from Vietnam,

### Steps to reproduce
I am running FreeBSD 10.4 with latest updates, and want to install PyMiniRacer as a dependency inside a FreeBSD jail inside a Python 3.6.5 virtual environment. I have installed bash (FreeBSD uses csh by default), as PyMiniRacer seems to depend on it.
pip version is 9.0.3; an upgrade to pip version 10.0.1 does not make any difference.
After clearing t

[2018-07-07 14:37] fimion opened #58 "no way to await async js calls"
### Steps to reproduce
use this code with your babel transform
[code]
### Expected behavior
There should be a way to await the promise. maybe this is pipe dream and or i need to compile my own version of babel... but.... it would be useful to have this ability.

### Actual behavior
always returns False

### System configuration
**PyMiniRacer version**:
0.1.15
**Python version**:
3.6

[2018-07-09 03:46] chlarsen commented on #57
Update: After manual installation of python-wheels by isuing: pip3 install wheels, I get this error instead:
[code]
Any thoughts? I have read that urlparse has been replaced in Python 3 by urllib.parse, but am not sure where to handle that. Any help would be highly appreciated. Thank you!
 Chris

[2018-07-09 03:49] chlarsen commented on #57
"fetch v8" seems to be at the core of the problem: When trying:
[code]
I get:
[code]
Any thoughts?
Thank you,
Chris

[2018-07-09 05:45] Congee commented on #57
That syntax error is apparently caused by python2

[2018-07-09 07:47] chlarsen commented on #57
Actually, it is caused by python 3 trying to chew its way through python 2 code, isn't it? Alas, Python 3 is a major dependency of the core application in question (wq).

[2018-07-09 13:38] fimion commented on #58
that is a fantastic question, and I don't actually have a good answer. since with this specific example you don't have a way to see if the promise has resolved because it's in an anonymous scope.

this may not even be a good example.  currently, if you make a Promise, and that is what miniracer catches, then you would not have a way to check if that promise is done...
i suppose the better way of d

[2018-07-09 14:56] samuelhwilliams commented on #57
Also having the same issue here with a fresh install vs Python 3.

[2018-07-10 08:21] ningirsu commented on #57
Indeed we have an issue here with the setup script which needs python2 in the path. I will try to see how we can improve that.
Else do you know if it's possible to use the wheel on FreeBSD? We have wheel build with https://github.com/pypa/manylinux which should work almost everywhere

[2018-07-10 08:22] ningirsu commented on #50
It should be fixed now with the last version of PyMiniRacer

[2018-07-10 08:22] #50 closed

[2018-07-10 08:31] chlarsen commented on #57
Thank you so much for responding, Sélim. Since I installed python-wheel from pypi, the wheel error has gone, and we are (hopefully) left with the requirement to use python 2, instead of python 3 (required by the application I want to install). Let me alert the wq developer, too, as he is the one requiring py-mini-racer for his python 3 application :-). Thanks again for trying to solve this conundr

[2018-07-17 19:19] fimion commented on #58
So, Thinking about this some more... and poking around a bit...

Would it be possible to integrate with this package?

https://pypi.org/project/promise/

if you get a Promise object back, rather than just casting it to an empty object, is it possible to convert it to a python promise?

[2018-08-10 08:18] krukas opened #63 "Limit resource (execution time and memory usages)"
Awesome lib and easy to install thanks to the wheels build :smile: . I have a question about limiting resources for the executes Javascript. I want to run user inputted script but want to limit the execution time and memory usages.

What is the best approach to do this, Thanks.

[2018-08-12 22:57] aviat commented on #63
Hi @krukas this is not available yet in PyMiniRacer, though we would be more than happy to receive contributions regarding this.
You can find some examples I like here:

- [memory](https://github.com/discourse/mini_racer/blob/master/ext/mini_racer_extension/mini_racer_extension.cc#L724)
 - [timeout](https://github.com/cowboyd/therubyracer/blob/4c2a7449765c61b62c59971b0d3f1e48ded56e0b/ext/v8/script

[2018-08-12 22:58] aviat commented on #58
@fimion this is not in our roadmap yet but feel free to contribute @fimion !

[2018-08-12 22:58] #58 closed

[2018-08-12 23:00] aviat commented on #54
console is not a JS built-in @alexeygrigorev . A good way to address this would be to allow Python functions to be called from JS. This is not on our roadmap but feel free to contribute!

[2018-08-12 23:00] #54 closed

[2018-08-12 23:02] aviat commented on #53
@alexeygrigorev you could do something similar to this: https://github.com/discourse/mini_racer/pull/80
We would love to get such a contribution!

[2018-08-12 23:02] #53 closed

[2018-08-13 04:10] alexeygrigorev commented on #53
Why was it closed? Was the feature added?

[2018-08-13 07:06] krukas commented on #63
Hi @aviat, Thanks I'm going to look at it latter, first need to learn some c++ :nerd_face:

[2018-09-04 21:30] mcdoker18 commented on #42
@aviat Hi! Sorry, I forgot to add the keyword "closes" to MR. Can you close the issue?

[2018-09-26 21:13] CodingWithErik commented on #57
Hello, is there any fix for this yet? Im trying to run Sqreen plugin and pyminiracer is a dependacy, im using python3

[2018-09-27 08:09] ningirsu commented on #57
@CodingWithErik You should be able to run it without issues in all the supported platform (we provide wheel for that)
This issues appears only if you try to build yourself PyMiniRacer, or we don't have generated the build for your platform

[2018-11-16 14:43] pablodo opened #65 "Cannot build v8 on Python compiled with pydebug"
### Steps to reproduce
1. Compile python 2.7.15rc1 using `./configure --with-pydebug`. I'm currently using `pythonz` with the following command: `pythonz install --configure="--with-pydebug" 2.7.15rc1`
2. Run `python setup.py build_v8`  or `pip install py-mini-racer`

### Expected behavior
Should build v8 correctly

### Actual behavior
[code]

Full log: https://pastebin.com/zrEmxbuH

### System co

[2018-12-23 22:37] snailuj opened #72 "Syntax error with imports"
### Steps to reproduce
I love the idea of using something like PyMiniRacer to do server-rendering of React components without needing to manage a Node server. But I'm stuck on the very first steps ... importing React. I'm not sure if this is a bug or a problem in my understanding. If so perhaps there is a missing step in the documentation?

I'm unable to do any JS imports (ES6 or ES5). Do I need t

[2018-12-24 08:33] aviat commented on #72
Hi @snailuj,
PyMiniRacer isn’t Node. It won’t translate a require into file system calls.
In order to make this work you’ll have to bundle React in one single file using eg webpack, and then eval this file in a PyMiniRacer context.
Happy to see any more elaborate documentation you could produce about that!

[2018-12-24 08:33] #72 closed

[2018-12-24 09:38] #63 closed

[2018-12-24 11:32] snailuj commented on #72
Hello, thanks so much for your reply and apologies for bothering you with
that. I confess to not understanding all the moving parts - I'm a newbie
with Node and hadn't realised that it was essentially a whole runtime.

I tried the webpack approach, which makes total sense now that I know more,
but when I do that for my use case (server rendering a hello world
component with `ReactDOMServer.renderT

[2019-01-18 21:16] DevAlone opened #74 "Unable to build on ARM"
### Steps to reproduce
Try to install py_mini_racer as a requirement

### Expected behavior
should be installing

### Actual behavior
A lot of errors(full log is here https://0x0.st/shwf.log). First one:
[code]
looks like it's trying to run python2 script with python3 for some reason

### System configuration
Ubuntu 18.04.1 LTS
**PyMiniRacer version**:
last

**Python version**:
3.6.7

[2019-01-24 13:47] Taiki-San commented on #74
We're providing wheels including a compiled V8 library to all of our supported platforms.
We have not yet gotten around building those wheels on ARM, which is the reason for your error message (`building v8`).
If you wanted to contribute on this, our main impediment is running the build process on an ARM Travis instance (which appear possible) and a stable source for pre-compiled libv8 binaries (h

[2019-01-24 21:39] DevAlone commented on #74
So, what do I need to do to make it working on my arm? Is there any guide which can help me to build PyMiniRacer?

[2019-01-25 07:12] Taiki-San commented on #74
In theory,
[code]
is supposed to build a wheel from scratch although it may subtly expect you to install some things (compiler...) by yourself. If you could run the command and tell me how it turns out, it would be 👌

[2019-01-26 09:34] Taiki-San commented on #74
That would be nice, but I'm not sure `python2` always exist on systems with only Python2 installed. (my macOS computer with Python2 (base) and Python3 installed doesn't have a `python2`).

I dove a little bit in it and problems are quite a bit more complex than at first glance. Basically, what's happening to you is because we don't have a wheel, it's trying to build itself from scratch, including

[2019-01-26 17:31] DevAlone commented on #74
Thanks :)

[2019-01-28 17:42] Taiki-San commented on #74
If you're in a hury, please run the `build_linux_arm64.sh` script from https://github.com/sqreen/PyMiniRacer/pull/80. It should build you a wheel (it'll run for a while though).
I'm going to make one available through Pypi whenever I have the time.

[2019-01-28 21:59] DevAlone commented on #74
Thanks, it's not that important, so I'll wait update on PyPi.

[2019-02-21 03:19] lirifei opened #81 "new Date().getTime()"
### Steps to reproduce
ctx.eval('new Date().getTime()')

### Expected behavior
Tell us what should happen
1550717977914

### Actual behavior
Tell us what happens instead
1550717977914.0

### System configuration
**PyMiniRacer version**:
0.1.18

**Python version**:
3.6.8

[2019-04-28 20:59] noel-smith opened #82 "Segmentation fault on ES6 Symbol evaluation"
### Steps to reproduce
Tested on both Mac + Ubuntu Linux:
[code]

### Expected behavior
Python object representing an ES6 Symbol type should be returned.

### Actual behavior
Segmentation fault generated on Symbol evaluation.

Mac:
[code]
Linux:
[code]

### System configuration
* Mac Mojave 10.14.3
* Ubuntu 18.04.2 LTS

**PyMiniRacer version**:
* py-mini-racer (0.1.18)

**Python version**:
* Mac:

[2019-04-29 21:35] Taiki-San commented on #82
The crash appear to originate from within V8. That's really odd.

[2019-04-29 23:48] cataphract commented on #82
I haven't investigated yet, but mini_racer has a similar issue opened: https://github.com/discourse/mini_racer/pull/94

[2019-05-24 14:12] #82 closed

[2019-08-29 16:44] reteps opened #85 "PyMiniRacer having issues on Windows"
### Actual behavior
Tell us what happens instead
+ `FileNotFoundError: [WinError 2] The specified file was not found`
+ See full logs under [this issue](https://github.com/reteps/kbot/issues/14).
### System configuration

**Python version**:
3.6.5
**Pip version**:
19.2.2

@danielkp1234

[2019-09-04 09:46] nizox commented on #85
There is currently no wheel built for Windows. The error reported by your user is because the module was trying to compile v8 from source and it requires a few tools like `git` and also probably a compiler.

[2019-09-05 08:56] danielkp1234 commented on #85
@nizox wait so how would i get a wheel that supports windows 10?

[2019-09-11 11:15] danielkp1234 commented on #85
@nizox is there a wheel for windows 10

[2019-09-16 06:23] danielkp1234 commented on #85
@sqreen

[2019-10-18 19:36] mahmutaydin1 commented on #50
Hello,
In my centos 8, there is  19.3.1 version of pip. An I had this pip.req problem. To solve this, I installed pip 9 version and my problem fixed.

But  there is so many version range from 9 upto 19.. Do you think that there is another way in newer version of pip to solve this pip.req problem?

[2019-10-18 20:20] ningirsu commented on #50
Hey, this should have been fixed in this PR https://github.com/sqreen/PyMiniRacer/pull/49

Can you send us more info regarding your problem by sending us the output of the commad `pip debug`?

Thanks

[2019-10-22 12:37] AdamSelene opened #90 "No available wheel for Python 3.8"
### Steps to reproduce

Using Python 3.8: `pip install sqreen` or `pip install py-mini-racer`

### Expected behavior
Successful installation

### Actual behavior
<details>
<summary>Full output</summary>

[code]
</details>

### System configuration
**PyMiniRacer version**: 0.1.18

**Python version**: 3.8.0

[2019-10-27 07:19] mahmutaydin1 commented on #50
thank you I solved

Sélim Menouar <notifications@github.com>, 18 Eki 2019 Cum, 23:20 tarihinde
şunu yazdı:

[2019-11-09 13:11] hugorodgerbrown commented on #90
I'd add to this that the current version is incompatible with 3.8.0:

[code]

[2019-11-15 18:58] nizox commented on #90
Hello Adam, thanks for reporting the issue. It should be fixed now as we pushed Python 3.8 wheels for Linux and MacOS on PYPI.

[2019-11-15 18:58] #90 closed

[2019-11-15 19:02] nizox commented on #85
Hello @danielkp1234,

We have been working on adding support for Windows to PyMiniRacer. This was a huge work because it required to upgrade the V8 release branch to 7.8 and patch the extension.

The work was carried on https://github.com/sqreen/PyMiniRacer/pull/89. You will soon be able to test the Windows support with the dev wheels that should be made available by the CI [here](https://dev.azur

[2019-12-28 07:32] jaredliw opened #92 "Pip install ERROR on Windows"
I have upgrade setuptools and pip but I still can't install py-mini-racer.
Please help me. Thanks! :p
### Actual behaviour

(base) C:\Users\jared>pip install py-mini-racer
Collecting py-mini-racer
  Using cached https://files.pythonhosted.org/packages/25/79/e158bbf5a2bbcdf990738566653d8caa8bc612007d4c0ed319bb3803a832/py_mini_racer-0.1.18.tar.gz
Building wheels for collected packages: py-mini-racer

[2020-01-04 18:55] praguevara opened #93 "Can you copy a context?"
### Steps to reproduce
[code]

### Expected behavior
ctx2 is a copy of ctx

### Actual behavior
`ValueError: ctypes objects containing pointers cannot be pickled`

---
I'm sure it's a bit more difficult to copy a whole context than just expecting it to work, but I haven't found a way to do it. Am I doomed to having to create empty contexts or have I missed something?

[2020-01-06 09:45] alexpdr opened #94 "Fails to build docker container"
### Steps to reproduce
1. Attempt to create any docker container with the given requirements.txt
2. Load Python3 requirements in before_script
[code]

requirements.txt
[code]
### Expected behavior
Dependencies are installed successfully.

### Actual behavior
[code]

### System configuration
Whatever version `sqreen==1.17.1` pulls in.

**Python version**:
python:3-alpine (from docker)

[2020-01-06 09:51] alexpdr commented on #94
I can also add that git is installed with `--no-cache`... It looks like it expects a git folder but without the default hidden prefix? (.git)

[2020-01-06 10:04] alexpdr commented on #94
Same error occurs locally as well. Attempting to build docker image and it immediately breaks with the exact same error message.

[2020-01-06 10:29] alexpdr commented on #94
So I added the required sub-dependencies of git and bash and was provided with a new error message.
Now it fails because it tries to use python 2.7 (which reached EOL 01 January 2020)

[code]

[2020-01-09 11:44] nizox commented on #93
It is not possible to copy a context for now. We could probably implement it by doing a snapshot of the V8 isolate and create a new context with this snapshot. What kind of operations do you want to perform that requires doing a copy of the context?

[2020-01-09 15:19] nizox opened #97 "Fix circular references export"

[2020-01-09 15:19] nizox opened #98 "Expose the V8 version"

[2020-01-09 17:05] nizox commented on #92
The last beta version of PyMiniRacer should have a working support for Windows (https://pypi.org/project/py-mini-racer/0.2.0b2/). You can install it with the following command:
[code]

[2020-01-09 17:06] nizox commented on #85
The last beta version of PyMiniRacer brings support for Windows (https://pypi.org/project/py-mini-racer/0.2.0b2/). You can install it using the following command:
[code]

[2020-01-10 10:18] nizox commented on #94
There are special installation instructions for Alpine Linux. In fact, Alpine is not a manylinux distribution and requires dedicated wheel builds.

You should be able to install it using:
[code]

[2020-01-10 12:41] jaredliw commented on #92
Thanks! It works!

[2020-01-10 12:41] #92 closed

[2020-01-16 09:55] alexpdr commented on #94
Using the special version for Alpine solved the problems! Issue can be closed :)

[2020-01-16 09:55] #94 closed

[2020-01-16 09:56] #85 closed

[2020-01-21 17:35] #57 closed

[2020-02-19 11:57] Shildifreak opened #101 "py-mini-racer on Windows"
Hi,
I wanted to install py-mini-racer on windows, but although they should exist according to the readme I couldn't find any binary files anywhere. Did I miss something? Do they just not exist yet?

Anyway, so the pip wheel did contain the sources... and I tried to compile that...
which after 6 hours or so of googling compiler settings and rewriting code to not use pthreads, have the right paths,

[2020-02-19 16:11] praguevara commented on #93
I had hoped I could do it to perform a MCTS with a simulator written in JS, but to be honest I wouldn't have expected it to be easy.

[2020-02-25 11:42] lasoke commented on #101
Hi,

We have the same issue.
First command that we have to run is not working, it doesn't give me any trust in the solution.
I really hope this solution is still in beta and the quality of the solution will increase before the production release.

[2020-02-25 14:10] #93 closed

[2020-03-09 07:31] shimachao opened #102 "ModuleNotFoundError: No module named 'pip._internal.download'"
I try to install  PyMiniRacer on windows 10.

pip install py-mini-racer
Looking in indexes: https://pypi.douban.com/simple
Collecting py-mini-racer
  Using cached https://pypi.doubanio.com/packages/25/79/e158bbf5a2bbcdf990738566653d8caa8bc612007d4c0ed319bb3803a832/py_mini_racer-0.1.18.tar.gz (330 kB)
    ERROR: Command errored out with exit status 1:
     command: 'c:\users\chengnan\appdata\local\

[2020-03-17 13:28] nizox commented on #101
A binary version of the module was uploaded to PyPi for the 0.2 release. You can find it [here](https://pypi.org/project/py-mini-racer/0.2.0/#files). Sorry you had to build it yourself before!

[2020-03-17 13:28] #101 closed

[2020-03-17 13:30] nizox commented on #102
The issue was fixed with https://github.com/sqreen/PyMiniRacer/commit/15bf2f61976ebe2a6861c33b1498ddf8733acb1e. It should work fine with the latest 0.2 version. Sorry for the inconvenience.

[2020-03-17 13:30] #102 closed

[2020-04-29 21:06] anentropic commented on #41
I have basically the same question, but how to load an npm module

I will try downloading it manually and `eval` the contents 👍

[2020-04-30 08:15] anentropic commented on #41
A note to help anyone else in the same boat...

I'm not sure if generally npm modules will work. But fortunately the one I wanted to use also provided a minified version for use in browser.

The module was supposed to export a type `RandExp`, looking at the minified source I could see this at the end:
[code]

Just eval-ing the minified source did not make the code usable in mini racer.

It seems t

[2020-06-09 06:00] lirifei opened #107 "linux killed process"
\var\log\messages
Jun  9 10:23:05 centos7.7 kernel: gunicorn[4541]: segfault at 7ffea55d2ff8 ip 00007fa9ccbda878 sp 00007ffea55d3000 error 6 in _v8.so[7fa9cca0d000+942000]
Jun  9 10:33:12 centos7.7 kernel: gunicorn[6215]: segfault at 7ffea55d2ff8 ip 00007fa9cc4eb878 sp 00007ffea55d3000 error 6 in _v8.so[7fa9cc31e000+942000]
Jun  9 10:42:38 centos7.7 kernel: gunicorn[7183]: segfault at 7ffea55d2ff8

[2020-06-20 15:40] CastixGitHub opened #108 "how to debug?"
### Steps to reproduce
I'm trying to use svelte within python, so I downloaded from here https://cdn.jsdelivr.net/npm/svelte@3.23.2/compiler.js and placed it in current directory, then installed PyMiniRacer, copied the example file from the template https://github.com/sveltejs/template/blob/master/src/App.svelte
that example works as expected running with node (v10.19.0) but does not in PyMiniRace

[2020-06-20 16:27] CastixGitHub commented on #108
actually if I just replace `self.performance.now()` with `null` it returns the same thing node returned, my issue is about:
[code]

[2020-06-24 06:55] ibachar-es opened #109 "Clone a context"
Is is possible to clone a context?
My use case is that I have a context which is expensive to setup (need to eval a bunch of code). I then wish to use this context to run small code snippets. I wish to avoid the possibility of these small snippets causing errors in the context. Therefore, before running each snippet I want to clone the base context (assuming cloning we be much faster than creating

[2020-06-27 09:45] LennyLip opened #111 "32 bit versions?"
Hi, thanks for the application.
Any reason you do not have pre-compiled 32 bits versions?

[2020-06-29 08:24] nizox commented on #111
Hi, thank you for using it!

Our CI provider does not have 32 bit platforms so I don't think we can provide 32 bit binaries. However, you can try to build PyMiniRacer directly from the sources on your platform. I would gladly accept changes to enable this.

[2020-06-29 08:24] #111 closed

[2020-06-29 08:31] nizox commented on #109
Hi, it is not possible to clone a context directly. V8 provides a mechanism to "snapshot" an isolate and clone it which is more or less what you want to do, but it still comes at a significant cost. PyMiniRacer currently doesn't have such feature but I would gladly accept any contribution for it.

[2020-06-29 08:39] nizox commented on #108
Hi! Indeed, `self.performance.now()` is using a WebWorker API which PyMiniRacer does not provide. Please note that PyMiniRacer is a very minimal Javascript runtime and does not have things like `console` or `debugger`.
It's impressive that you were able to run svelte on it without too many hassles!

[2020-06-29 08:39] #108 closed

[2020-09-26 23:42] ColdHeat opened #118 "[Question] Safe to run untrusted code?"
Thanks for this really good library! Sorry if this isn't the right place for questions.

I couldn't find a definite answer for this but is it safe to run untrusted code in `py_mini_racer.MiniRacer()` or `py_mini_racer.StrictMiniRacer()`?

With the timeout and memory limit kwargs it seems like that concern is handled and v8 itself I don't believe provides the ability to access the network or disk.

[2020-09-28 10:54] nizox commented on #118
The difference between `py_mini_racer.MiniRacer()` and `py_mini_racer.StrictMiniRacer()` lies in the fact that the former serialises Javascript objects with a custom binary format while the later uses JSON. The custom serialisation code is not covered by the memory and timeout limits but JSON is.

Sqreen uses `py_mini_racer` to run trusted code only but indeed, it also provides some nice sandboxin

[2020-10-01 16:51] ColdHeat commented on #118
I understand the ramifications of just using v8 for sandboxing and I think `py_mini_racer` will work well for my needs.

Thanks again for answering my questions and maintaining the project!

[2020-10-01 16:51] #118 closed

[2020-10-19 14:07] chicxa commented on #50
I guess this topic is closed? But i am struggling with exactly above.  Only option to downgrade? I've installed py-mini-racer. Made no difference.

Using _pip 20.1.1 from /usr/lib/python3/dist-packages/pip (python 3.8)_ ... trying to install _prometheus_

Find debug below:
pip version: pip 20.1.1 from /usr/lib/python3/dist-packages/pip (python 3.8)
sys.version: 3.8.5 (default, Aug  2 2020, 15:09:0

[2020-12-31 01:13] zungmou opened #123 "Can you provide a 32-bit libmini_racer.glibc.so for Raspberry Pi?"
### Steps to reproduce

I want to run py_mini_racer in the Raspberry Pi, but the Raspberry Pi is a 32-bit operating system and there is no suitable installation package for py_mini_racer.

Running the py_mini_racer installed by default will prompt the loss of the libmini_racer.glibc.so file. I tried to extract this file from the 64-bit whl file and copy it to the target path, but another exception

[2021-01-04 09:15] nizox commented on #123
PyMiniRacer does not support running on the Raspberry Pi CPU for now. Some work was initiated with https://github.com/sqreen/PyMiniRacer/pull/80 but unfortunately I have no plan to continue it in a near future.

[2021-01-05 16:37] Infixz opened #124 "How to make it runs on PyPy"
my python app runs on PyPy and it need a js runtime, is it possible to make mini racer runs on pypy.

[2021-01-06 06:50] nevros commented on #25
https://github.com/tbodt/v8py/blob/4fe3eea9ac637e8dba365f215498a2f8fafd0c45/v8py/convert.cpp#L11

it has been implemented in this project, so that could be used as a reference point

[2021-01-10 12:40] Nambers commented on #15
Oh hi, i am amazing that we meet the same problem in a similar problem
today i am trying to answer this question "https://stackoverflow.com/questions/65443895/how-to-input-data-via-a-post-request-using-requests-in-python/65650186#65650186", and it also for the downloading of youtube lol
So, do you find the solution?

[2021-01-31 13:49] adrianschneider94 opened #125 "Optional support for i8n"
### Steps to reproduce
Install PyMiniRacer via pip.

### Expected behavior
I would like to have the possibility to turn on i8n (ECMAScript 402 Spec) when I install PyMiniRacer.

### Actual behavior
I8n is turned off by default (in contrast to the normal v8 build). So you have to build everything yourself f you need Intl.

As I build a python wrapper for a lib that deals with schedules, timezone su

[2021-02-08 03:05] JesseLT opened #126 "RuntimeError: Native library not available at ......site-packages/py_mini_racer/libmini_racer.dylib"
I'm using Macbook Air M1,and I install `py-mini-racer` with pip successfully.but when I run `ctx = py_mini_racer.MiniRacer()` the error `RuntimeError: Native library not available at /Users/dmitry/Applications/Miniforge3/envs/python38/lib/python3.8/site-packages/py_mini_racer/libmini_racer.dylib` happens. I have checked the directory, there is no file named libmini_racer.dylib.
I have no idea abou

[2021-02-09 04:33] #126 closed

[2021-03-01 15:33] #97 closed

[2021-03-01 15:34] nizox commented on #98
Added with https://github.com/sqreen/PyMiniRacer/pull/129.

[2021-03-01 15:34] #98 closed

[2021-03-04 08:51] cbc009 commented on #126
哥，咋解决的呀

[2021-03-04 09:56] nizox commented on #125
Thanks for the suggestion! I tried to compile V8 with i18n turned on but unfortunately I did not find a way to make it optional. Moreover the tests fail on Windows & Alpine Linux.

You can find the wheels here: https://dev.azure.com/sqreenci/PyMiniRacer/_build/results?buildId=4335&view=artifacts&pathAsName=false&type=publishedArtifacts

[2021-03-04 10:08] nizox commented on #81
PyMiniRacer eval now supports float return type. Thanks for the report.

[2021-03-04 10:08] #81 closed

[2021-03-05 11:04] nizox commented on #124
Hi, thanks for your interest in PyMiniRacer. Even if we don't mention it on the front page of the project, you should be able to use PyMiniRacer on PyPy. You can install it with `pip install py-mini-racer` on your PyPy virtualenv.

[2021-03-05 11:04] #124 closed

[2021-03-11 11:49] RussiaVk opened #134 "ImportError: cannot import name 'MiniRacer'"
[code]

[2021-03-11 11:55] RussiaVk opened #135 "RuntimeError: Native library not available at mini_racer.dll"
[code]

[2021-03-11 11:56] RussiaVk commented on #134
should be
`from py_mini_racer import py_mini_racer`

[2021-03-11 11:56] #134 closed

[2021-03-16 15:59] beesound opened #137 "Can't stop this program"
### Steps to reproduce

from py_mini_racer import py_mini_racer
ctx = py_mini_racer.MiniRacer()
print(ctx.eval('1+1'))
del ctx
![pmr](https://user-images.githubusercontent.com/30981019/111340268-71b6b780-86b3-11eb-9509-1c638208a84c.JPG)

### Expected behavior
This program can't stop,  it seems that some thread is not over.

### Actual behavior
Tell us what happens instead

### System configuration

[2021-04-06 05:49] poovannan89 opened #140 "libmini_racer.glibc.so: cannot open shared object file: No such file or directory in RHEL"
### Steps to reproduce
Installed py-mini-racer via pip3 on RHEL 8.3 for using in Mistral (openstack project).

### Expected behavior
py_mini_racer works fine for javascript snippets.

### Actual behavior
After install, file libmini_racer.glibc.so was missing. So, copied it from whl file. After that also
cannot open error occurs even though file exists :

Traceback (most recent call last):
  File "

[2021-04-06 12:22] nizox commented on #140
Can you please copy the result of the following command:
[code]

I quickly tried installing and running PyMiniRacer on Centos 8.3 with Python 3.6 without issues as you can see below:
[code]

[2021-04-06 13:35] poovannan89 commented on #140
Hi, Thanks for quick response. Here is the output :

[root@os4p70 ~]# ldd /usr/local/lib/python3.6/site-packages/py_mini_racer/libmini_racer.glibc.so
        not a dynamic executable

[root@os4p70 ~]# ls -ltr /usr/local/lib/python3.6/site-packages/py_mini_racer/libmini_racer.glibc.so
-rwxr-xr-x. 1 root root 16590912 Apr  6 01:12 /usr/local/lib/python3.6/site-packages/py_mini_racer/libmini_racer.gl

[2021-04-06 13:53] poovannan89 commented on #140
I checked further on another machine. RHEL 8.2. There is no issue and it works fine.
Suspect some install issue on 8.3. Will reinstall the package and try.

[2021-04-23 18:22] DeadWisdom commented on #134
Sorry I don't have time to make a PR, but your README says:

    from py_mini_racer import MiniRacer

But you have to do:

    from py_mini_racer.py_mini_racer import MiniRacer

[2021-04-27 15:55] RonaldinhoL opened #142 "how to add python function to ctx ?"

[2021-05-10 10:14] nizox commented on #142
Hello, it is currently not possible to expose a Python function to the JavaScript context. Other packages such as https://github.com/tbodt/v8py may provide what you need.

[2021-05-10 10:20] nizox commented on #137
Hello, thanks for reporting this issue. PyMiniRacer uses the `ctypes` module and releases the GIL when calling the JavaScript VM. It can lead to this issue (impossible to interrupt the function) when a long running JavaScript function is executed on a single thread application.

[2021-05-10 12:03] #65 closed

[2021-05-10 12:04] nizox commented on #74
Closing due to inactivity, do not hesitate to open a new issue if the demand is still relevant.

[2021-05-10 12:04] #74 closed

[2021-05-10 12:06] nizox commented on #107
Hello! A new version of PyMiniRacer (0.6.0) was released with a fix for a crash which happen during MiniRacer shutdown phase. I am closing this issue but let us know if the issue persists.

[2021-05-10 12:06] #107 closed

[2021-05-24 03:53] RainStoneLau opened #143 "The required file "libmini_racer.dylib" can't be found in mac M1"
I am using the macbook M1, and python version is 3.9
### Steps to reproduce

When I import a package named akshare which uses the py_mini_racer as a requirement, the error occured as the following:

  File "/opt/homebrew/lib/python3.9/site-packages/py_mini_racer/py_mini_racer.py", line 125, in _build_ext_handle
    raise RuntimeError("Native library not available at {}".format(EXTENSION_PATH))
Run

[2021-05-25 01:41] RainStoneLau commented on #143
I checked again and found there was no suitable whl installation package for mac M1 using pip.

[2021-05-25 02:56] RainStoneLau commented on #143
Can you please compile an install package for the arm architecture? Thanks a lot

[2021-07-14 06:23] jindaxiang commented on #143
It's a good question and waiting

[2021-07-23 07:16] zhouii commented on #135
It seems there's some problem in their setup program when running on Windows. Before they fix, using Linux or using pip install on Windows can be a workaround.

[2021-07-26 08:32] #135 closed

[2021-08-31 01:27] zgpnuaa opened #146 "Native library not available at /usr/local/lib/python3.7/dist-packages/py_mini_racer/libmini_racer.glibc.so"
I use py-mini-racer in debian 10.6 on my 64 bit mobile, but there's error as follow.

`usr/local/lib/python3.7/dist-packages/akshare/stock_feature/stock_a_pb.py in <module>
    315 }
    316 """
--> 317 ctx = py_mini_racer.MiniRacer()
    318 ctx.eval(hash_code)
    319 token = ctx.call("hex", datetime.now().date().isoformat()).lower()

/usr/local/lib/python3.7/dist-packages/py_mini_racer/py_mini_

[2021-10-03 07:11] xinxi053 opened #147 "The required file "libmini_racer.dylib" can't be found in mac M1"
Mac m1 is not supported for now,  I think it will be more and more user going to feedback this problem

[2021-11-08 02:08] liiitleboy commented on #147
+1

[2021-11-20 05:52] LennyLip commented on #143
Any workarounds?

[2021-11-20 05:54] LennyLip commented on #147
#143

[2021-11-20 15:06] LennyLip commented on #143
Howto build v8 on M1 https://joyeecheung.github.io/blog/2021/08/27/binding-v8-on-an-m1-macbook/

[2021-11-20 18:10] LennyLip commented on #143
Build for Apple M1 fork https://github.com/studyhub-co/PyMiniRacer

My result, you can try to use it:
[libmini_racer.dylib.zip](https://github.com/sqreen/PyMiniRacer/files/7575004/libmini_racer.dylib.zip)

[2021-11-21 08:16] Shiyou999 commented on #143
Perfect! It works! I just met the problem yesterday and today I see your newest solution today here. Thank you so much!

[2021-11-29 08:59] jindaxiang commented on #143
Thanks for your work!

[2021-12-19 03:28] alexzlx1900 commented on #143
Thanks for your work!

[2022-01-15 14:12] SeaHOH opened #148 "MiniRacer.execute failure"
### Steps to reproduce
[code]

### Expected behavior
All expressions can be evaluated via `MiniRacer.execute` as same as `MiniRacer.eval`.

### Actual behavior
Some expressions can not be evaluated via `MiniRacer.execute`.

### System configuration
**PyMiniRacer version**:
0.6.0 win_amd64

**Python version**:
3.10.1

[2022-01-15 14:18] SeaHOH commented on #148
I had tried use `eval` to instead of `function`, it works. But new issue occurd, the scope has been limited.

[2022-01-15 16:51] SeaHOH commented on #148
Hmm... is there it possible to add a function likes `res = ext.mr_json_stringify(res)`, intead of the wrapped expression string?

[2022-01-17 12:21] SeaHOH opened #149 "A example tending to mislead"
Hi~
Maybe a issue if you want to show unicode escape, this example hardly meets the case.

https://github.com/sqreen/PyMiniRacer/blob/f7b9da0d4987ca7d1982af7f24da423f06da9894/README.rst#L40-L41

In fact Python converted the escape in the example.

Python 2
[code]

Python 3
[code]

[2022-01-24 12:53] SeaHOH commented on #148
I have used esprima to skip this issue.
https://github.com/SeaHOH/jsengine/commit/5ebe633bc09bb5adb7b391778111b37978abc351

[2022-04-22 08:56] Differlong commented on #123
I'm a  programmer from China, Asia, the py_mini_racer module is very popular and widely used in my industry, the py_mini_racer does well job in intel platform, but it doesn't work in raspberry pi cpu for now. It's a pity, I think. If you can provide a 64-bit/32-bit libmini_racer.glibc.so for Raspberry Pi,  I think it will be more and more popular.

[2022-06-10 10:50] stefanm8 commented on #146
I happen to receive the same issue on any platform

[2022-06-11 21:46] s-m-e opened #150 "Properties of JS/ES6 class created in its constructor are undefined when method is called on the JS object later"
### Steps to reproduce

The following piece of code reproduces the issue. There are variations of the problem, as shown in the `test` method in the JS class.

[code]
It appears that objects do get constructed, but the JS' class constructor either does not run or something else happens so that properties are literally undefined when an object is touched later.

Background: I am trying to get [some

[2022-06-12 18:52] s-m-e commented on #150
[code]

This appears to do what I want.

[2022-07-07 01:05] Boyee2022 commented on #143
Found there is a guy using windows met the same question, maybe the missing package is not only for Mac M1

[2022-07-31 01:58] Eurus-0504 commented on #143
Thank you for your work!! You totally solved my problem!

[2022-08-10 07:48] VIROGER12 commented on #143
I have the same problem with windows.
RuntimeError: Native library not available at D:\Program Files\python\lib\site-packages\py_mini_racer\mini_racer.dll
Exception ignored in: <function MiniRacer.__del__ at 0x0BB219C0>

I checked the file path, and found there is no file named mini_racer.dll but a file named libmini_racer.muslc.so.

Is anybody have the file named mini_racer.dll ?
thanks.

[2022-09-24 08:37] sunwin123 opened #153 "PyMiniRacer ImportError in Termux on Android devices."
I use Termux app on Android devices a lot.
Recently, I need to use py-mini-racer lib, when import it, it runs out an ImportError and not work at all.
py-mini-racer contains a [v8-engine.so] binary lib, but this binary lib only works in X86 platform!

[2022-10-02 08:52] JulesLiu commented on #146
My guess is your device is an aarch64 based one?

[2022-10-02 09:09] JulesLiu opened #154 "aarch64 support or build?"
Enlightened by another  #143 , I guess the "Native library not available" err I met when I import akshare is due to that the vps is an aarch64 based Ubuntu.
### Steps to reproduce
Install and then import akshare on an aarch64 Ubuntu vps
### Expected behavior
Import akshare successfully.
### Actual behavior
![Screenshot 2022-10-02 025325](https://user-images.githubusercontent.com/60243348/193446724

[2022-10-02 09:46] zgpnuaa commented on #146
yes. in my phone, pydroid3 app appear this error.